In [15]:
#finding min, max, median, average and range of ages
import statistics
ages=[19,22,19,24,20,25,26,24,25,24]
print("Ages=",sorted(ages))          #sorting list
max_ages=max(ages)                #finding min of ages
min_ages=min(ages)             #finding max of ages
print("min of ages=",min_ages)
print("max of ages=",max_ages)
ages.append(min_ages)          #adding min age to list
ages.append(max_ages)          #adding max age to list
print("new ages list=",ages)
res=statistics.median(ages)     #finding median
print("Median of ages=",res)
average=sum(ages)/len(ages)       #finding average
print("average of ages=",average)
Range=max_ages-min_ages              #finding range
print("Range=",Range)

Ages= [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
min of ages= 19
max of ages= 26
new ages list= [19, 22, 19, 24, 20, 25, 26, 24, 25, 24, 19, 26]
Median of ages= 24.0
average of ages= 22.75
Range= 7

In [32]:
dog = dict()              # An Empty dictionary dog
dog['name']   = 'oreo'    # Adding dog's name, color, breed, legs, age
dog['color']  = 'brown'
dog['breed']  = 'golden retriever'
dog['legs']   = 4
dog['age']    = 7
print(dog)
student =dict({                                # Student dictionary
    'first_name'    :'kranthi sree',
    'last_name'     :'Nimmalapudi',
    'gender'        :'female',
    'age'           : 25,
    'marital_status':'unmarried',
    'skills'        :['python','java'],
    'country'       :'India',
    'city'          :'Missouri'
    })
    
print(student)
print("\nStudent length:", len(student))    # Len of student
print("\nSkills:", student.get('skills'))    # Get value of skills
skills = student.get('skills')             # Add new skill
skills.append('C#')
student['skills'] = skills
print("\nUpdated Skills:", student.get('skills'))
print("\nDictionary Keys:",list(student.keys()))      # Get keys
print("\nDictionary Values:",list(student.values()))  # Get Values

{'name': 'oreo', 'color': 'brown', 'breed': 'golden retriever', 'legs': 4, 'age': 7}
{'first_name': 'kranthi sree', 'last_name': 'Nimmalapudi', 'gender': 'female', 'age': 25, 'marital_status': 'unmarried', 'skills': ['python', 'java'], 'country': 'India', 'city': 'Missouri'}

Student length: 8

Skills: ['python', 'java']

Updated Skills: ['python', 'java', 'C#']

Dictionary Keys: ['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city']

Dictionary Values: ['kranthi sree', 'Nimmalapudi', 'female', 25, 'unmarried', ['python', 'java', 'C#'], 'India', 'Missouri']

In [69]:
sisters  = ('Bunny', 'Jahnavi',)
brothers = ('Prem', 'Mokshit',)
siblings = brothers + sisters;        # Join brothers and sisters tuples
print("Siblings : ",siblings)
print("No.Of Siblings:", len(siblings))  # No.of siblings
siblings=list(siblings);
siblings.append('Srinu');                #adding parents to list
siblings.append('Anjali');
family_members=tuple(siblings);            #converting list to tuple
print("family members",family_members)

Siblings :  ('Prem', 'Mokshit', 'Bunny', 'Jahnavi')
No.Of Siblings: 4
family members ('Prem', 'Mokshit', 'Bunny', 'Jahnavi', 'Srinu', 'Anjali')

In [62]:
it_companies = set(['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'])
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print("Length of set of it_companies: ", len(it_companies))      # Length of set of it_companies
it_companies.add('Twitter')                                     # Add 'Twitter' to it_companies
print(it_companies)
it_companies.update(['Infosys', 'TCS'])                 # Add multiple elements to it_companies
print(it_companies)
it_companies.remove('TCS')               # Remove one element from it_companies
print(it_companies)

# Difference between remove() and discard()
# remove() and discard() methods are used to remove element from the set
# only difference is remove() will raise error if element is not present in the set
# while discard() won't raise error

print('A Join B : ', A.union(B))                        # Join A and B
print('A intersection B:', A.intersection(B))              # A intersection B
print('A subset of B:', A.issubset(B))                   # A subset of B
print('A disjoint set B:', A.isdisjoint(B))             # disjoints A and B
print('B disjoint set A:', B.isdisjoint(A))

# # A join B and B join A
# print('A join B:', A.update(B))
# print('B join A:', B.update(A))
print('A symmetric difference B:', A.symmetric_difference(B))       # Symmetric difference
del A                                                                # Delete Sets
del B
print("Len of age list:", len(age))                                 # age list and set
print("Len of age set:",len(set(age)))

Length of set of it_companies:  7
{'Facebook', 'Apple', 'Oracle', 'Google', 'Amazon', 'Microsoft', 'IBM', 'Twitter'}
{'Facebook', 'Infosys', 'TCS', 'Apple', 'Oracle', 'Google', 'Amazon', 'Microsoft', 'IBM', 'Twitter'}
{'Facebook', 'Infosys', 'Apple', 'Oracle', 'Google', 'Amazon', 'Microsoft', 'IBM', 'Twitter'}
A Join B :  {19, 20, 22, 24, 25, 26, 27, 28}
A intersection B: {19, 20, 22, 24, 25, 26}
A subset of B: True
A disjoint set B: False
B disjoint set A: False
A symmetric difference B: {27, 28}
Len of age list: 8
Len of age set: 5

In [43]:
import math
radius =30
_area_of_circle_ = math.pi * radius**2     # Area of Circle
print(_area_of_circle_)
_circum_of_circle_ = 2 * math.pi * radius   # Circumference of circle
print(_circum_of_circle_)
ip_radius = float(input("Please enter radius of circle:"))
_area_of_circle_ = math.pi * ip_radius**2
print(_area_of_circle_)

2827.4333882308138
188.49555921538757
Please enter radius of circle:30
2827.4333882308138

In [1]:
ip_str = "I am a teacher and I love to inspire and teach people"      #given string

str_list   = ip_str.split(' ')              #splitting the string
words = set(str_list)                  
uniq_words = dict()

for word in words:
    uniq_words[word] = str_list.count(word)

print("Unique Words: ")                         #printing unique words
for word, count in uniq_words.items():
    if count == 1:
        print(word)

Unique Words:
a
teach
love
am
inspire
people
teacher
to

In [2]:
print("Name \t\t Age \t Country \t City")               #tabescape sequence
print("Asabeneh\t 250\t Finland\t Helsinki")

Name 		 Age 	 Country 	 City
Asabeneh	 250	 Finland	 Helsinki

In [3]:
radius = 10
area   = 3.14 * (radius**2)                   #area of circle
print("The area of a circle with radius {0} is {1} meters square.".format(radius, area))

The area of a circle with radius 10 is 314.0 meters square.

In [4]:
# 1 Lb = 0.45 KG 
lb_to_kg = 0.453592
N = int(input("Enter no.of students:"))                   
ip_list = list(input(f"Please enter {N} comma seperated values:").split(','))       #enter values with comma separated

print("Input List: ", ip_list)                         #print values

res = []
for i in range(N):                                               
    res.append(float(ip_list[i])*lb_to_kg)            #converting lb to kg   
    
print("Output : ",res)

Enter no.of students:4
Please enter 4 comma seperated values:150, 155, 145, 148
Input List:  ['150', ' 155', ' 145', ' 148']
Output :  [68.0388, 70.30676, 65.77083999999999, 67.131616]